<!-- Sidebar -->
  <div id="sidebar">
    <div class="inner">

      <!-- Search -->
        <section id="search" class="alt">
          <form method="post" action="#">
            <input type="text" name="query" id="query" placeholder="Search" />
          </form>
        </section>

      <!-- Menu -->
        <nav id="menu">
          <ul>
            <li><a href="{{ '' | absolute_url }}">首页</a></li>
            <li>
              <span class="opener">云计算</span>
              <ul>
                <li><a href="#">计算虚拟化</a></li>
                <li><a href="#">网络虚拟化</a></li>
                <li><a href="#">存储虚拟化</a></li>
                <li><a href="#">公有云运维</a></li>
              </ul>
            </li>
            <li>
              <span class="opener">运维</span>
              <ul>
                <li><a href="#">Linux</a></li>
                <li><a href="#">Windows</a></li>
                <li><a href="#">Docker</a></li>
              </ul>
            </li>
            <li><a href="#">数据库</a></li>
            <li><a href="#">网络</a></li>
            <li>
              <span class="opener">安全</span>
              <ul>
                <li><a href="#">网络安全</a></li>
                <li><a href="#">系统安全</a></li>
                <li><a href="#">WEB安全</a></li>
                <li><a href="#">云计算安全</a></li>
              </ul>
            </li>
            <li>
              <span class="opener">开发</span>
              <ul>
                <li><a href="#">WEB前端</a></li>
                <li><a href="#">系统安全</a></li>
                <li><a href="#">WEB安全</a></li>
                <li><a href="#">云计算安全</a></li>
              </ul>
            </li>
            <li><a href="{{ 'generic.html' | absolute_url }}">服务与支持</a></li>
            <li>
              <span class="opener">模板示例</span>
              <ul>
                <li><a href="{{ 'generic.html' | absolute_url }}">Generic</a></li>
                <li><a href="{{ 'elements.html' | absolute_url }}">Elements</a></li>
              </ul>
            </li>
          </ul>
        </nav>

      <!-- Section -->
        <section>
          <header class="major">
            <h2>推 荐</h2>
          </header>
          <div class="mini-posts">
            <article>
              <a href="#" class="image"><img src="assets/images/pic07.jpg" alt="" /></a>
              <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
            </article>
            <article>
              <a href="#" class="image"><img src="assets/images/pic08.jpg" alt="" /></a>
              <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
            </article>
          </div>
          <ul class="actions">
            <li><a href="#" class="button">更多...</a></li>
          </ul>
        </section>

      <!-- Section -->
        <section>
          <header class="major">
            <h2>关于我</h2>
          </header>
          <p>专注于云计算和运维相关知识分享与记录.</p>
          <ul class="contact">
            <li class="fa-envelope-o"><a href="#">{{ site.email }}</a></li>
            <li class="fa-phone">{{ site.phone }}</li>
            <li class="fa-home">{{ site.city }}, {{ site.state }}, {{ site.country }}, {{ site.zip_code }} </li>
          </ul>
        </section>

      <!-- Footer -->
        <footer id="footer">
          <p class="copyright">&copy; {{ site.title }}. All rights reserved.</p>
        </footer>

    </div>
  </div>
